<app-navbar></app-navbar>
<main>
    <div class="content">
        <p class="question">Are you looking for care for your pet?</p>
        <p class="title-content">The best veterinary with international certificate</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quibusdam minus repellat cum, eveniet nemo tempore id voluptates excepturi maiores ratione? Quasi dolor voluptas officia architecto omnis porro, sit dolores?.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a et, quae distinctio iusto maiores illum totam praesentium obcaecati pariatur nesciunt in magnam vel! Quo eveniet nisi vel suscipit voluptates?</p>
        <button (click)="comenzar()"><i class="fas fa-sign-in-alt"></i>Start</button>
    </div>
    <img src="../../../assets/img/perro.png" alt="" height="500px">
</main>
<app-footer></app-footer>
